RewriteEngine On
RewriteBase /php_practice/dynamic_webpages/

# Redirect from /index.php to /
RewriteCond %{THE_REQUEST} \ /php_practice/dynamic_webpages/index\.php
RewriteRule ^index\.php$ / [L,R=301]

# Internal rewrite from / to /index.php
RewriteRule ^$ index.php [L]